/* this color may change in the future*/
body {   
  background-color: #B2B0AA; 
  padding-left: 100px;
  padding-right: 100px;
 }
ul{
  padding-left: 0px;
  padding-top:50px;
  padding-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}

ul li{
  display: block;
  float:right;
  width:250px;
  border-radius: 8px;
  height:15px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background-color: #BFB78F;
  border-style: solid;
  border-width: 1px;
}

/* selected link */
ul :hover {
background-color: #629792;
color: white;
}

ul a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  font-family:'Playfair Display', serif;
  font-size: 45px;
  color: black;
  background-color: #e9f1e6;
  padding: 25px; 
  border-width: 2px;
  border-style: solid;
  margin: 20px;
}
/* This is for the Reinaissance Art title*/
.mainparagraph {
  font-size: 20px ;
}

/*This is to the subtitles only (history and paintings)*/ 
.subtitle {
  background-color: #e9f1e6;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  border-width: 3px;
  border-style: solid;
}

/* This is to arrange each image in the center of the page and the description*/
.center, .description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* this lets the image to scale down if it has to but never scale up*/
}

/*for the images to be all the same width and height*/
.center{
  width: 700px;
  height: 350px;
}


/*for the description of paragraphs to be as wide as the images*/
.description { 
  max-width: 700px;
}

@media only screen and (min-width: 70em) {
  body { background-color: white}
}
