/* mouse over link */
a:hover {
  color: yellow;
}
h1  {
  font-family: fantasy;
  color: black;
  background-color: #2E8BC0;
  padding: 25px 25px 25px 25px;
  border-width: 2px;
  border-style: solid;
}

body {   /* trying to use a blue color palette for the entire site*/
 background-color: #B1D4E0;
}

#History {
  background-color: #2E8BC0;
  padding: 10px 10px 10px 0px;
  margin: 20px;
  border-width: 3px;
  border-style: solid;
}

#Paintings {
  background-color: #2E8BC0;
  padding: 10px 10px 10px 0px;
  margin: 20px;
  border-width: 3px;
  border-style: solid;
}

.description { /* this is for the brief description of two paintings*/
  max-width: 700px;
}
